._lRp58 {
  padding: 3% !important;
    width: 6% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
._2ommc {
  margin: auto !important;
  width: 90% !important;
}

._2umuz { 
  margin: auto !important;
  width: 90% !important;
}

._2umuz{
  margin: auto !important;
  padding: 0% !important;
}

._1qf7m {
  width: 1rem !important;
  height: 1rem !important;
}

._3u1T8 {
  border: 0.9rem solid #ffffff42 !important;
}
/* calendar */
._3rDu9 {
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background-color: rgba(44, 76, 104, 0.582) !important;
}
/* time */
._1hJZv {
  background-color: transparent !important;
}
._p7HGv {
  height: 1rem !important;
  color: rgb(7, 195, 241) !important;
}
/*Hour Selected*/
._3LEck {
  background-color: rgba(32, 178, 171, 0.74) !important;
/*minutes Selected*/
}
._8EDxV {
  background-color: rgba(32, 178, 171, 0.74) !important;
}
/*weekDays*/
._2WxJS {
  color:#1ad1c8 !important;
}
