@media(max-width: 768px) {
  .cards-container{
    overflow-x: auto;
    overflow-y: hidden;
}
}

.card-wrapper {
  width: 300px;
  height: fit-content;
}
.card {
  height: 450px;
}
.card-img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
}

.card-link:active {
  background-color: #121212;
}

.disabled {
  pointer-events: none;
}

.modal-body, .modal-title{
  background-color: #ffffffb3;
}

.moveLeftFormBtnArrow{
  transform: translateX(-15px);
  transition: 1s;
}
.moveRightFormBtnArrow {
  transform: translateX(15px);
  transition: 1s;
}