.card-wrapper {
  min-width: 300px;
  height: fit-content;
}
.card {
  height: 450px;
}
.card-img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
}

.card-link:active {
  background-color: #121212;
}

.disabled {
  pointer-events: none;
}
