@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

*{
  font-family: 'Roboto Slab', serif;
}

._lRp58 {
  padding: 3% !important;
  width: 6% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

._2ommc {
  margin: auto !important;
  width: 90% !important;
}

._2umuz {
  margin: auto !important;
  width: 90% !important;
}

._2umuz {
  margin: auto !important;
  padding: 0% !important;
}

._1qf7m {
  width: 1rem !important;
  height: 1rem !important;
}

._3u1T8 {
  border: 0.9rem solid #ffffff42 !important;
}

/* calendar */
._3rDu9 {
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  background-color: rgba(44, 76, 104, 0.582) !important;
}

/* time */
._1hJZv {
  background-color: transparent !important;
}

._p7HGv {
  height: 1rem !important;
  color: rgb(7, 195, 241) !important;
}

/*Hour Selected*/
._3LEck {
  background-color: rgba(32, 178, 171, 0.74) !important;
  /*minutes Selected*/
}

._8EDxV {
  background-color: rgba(32, 178, 171, 0.74) !important;
}

/*weekDays*/
._2WxJS {
  color: #1ad1c8 !important;
}

/*Events Calendar*/

.year-switcher {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0% !important;
  background-color: transparent !important;
  border: 1px solid #198754;
}

.left-button {
  position: unset !important;
}

.right-button {
  position: unset !important;
}

.month-name-cell {
  background-color: #198754 !important;
}

.month-name-cell:hover {
  background-color: white !important;
  box-shadow: inset 0 0 0 2px #198754 !important;
}
.month-name-cell:focus #ryc-table tr {
  background-color: rgba(75, 68, 83, 0.69) !important;
}
.month-name-cell::first-letter {
  text-transform: capitalize !important;
}

.relative {
  border-color: #198754 !important;
}

.weekend-cell:hover {
  background-color: rgba(75, 68, 83, 0.69) !important;
 
}

#ryc-table tr:hover {
  background-color: rgba(75, 68, 83, 0.69) !important;
}
::-webkit-scrollbar {
  height: 15px !important;
}
::-webkit-scrollbar-thumb {
  background-color: green !important;
  border-radius: 10px !important;
}
