.delete-event-btn {
  color: red;
  border-radius: 5%;
}
.delete-event-btn:hover {
  background-color: red;
  color: white;
}
.table-coments {
  font-size: 10px;
}
.tableHead-fontSize{
  font-size: 14px;
}
.tableBody-fontSize{
  font-size: 12px;
}