
.calendarContainer{

    height: 1150px;
    
}

button:active {

    transform: translate(1px, 1px) 

}

.reserveInstructionsWrapper {
    height: fit-content;
}

.btn-pressed{
    box-shadow: 2px 2px 1px black;
  }

.btn-pressed:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px black;
  }

  h1 {
    font-size: xx-large !important;
    margin: 10px 0px !important;
  }

  h1::first-letter{
    text-transform: uppercase;
  }