.background {
  background-image: url('../../assets/sportIconBg(1).webp');
  background-position: center;
  background-size: cover;
  min-height: 75vh;
}

.title {
  text-shadow: 20px 20px 12px black;
  font-size: 3rem !important;
  animation-name: title3d;
  animation-duration: 3s;
  font-family: 'Roboto Slab', serif;
}

@keyframes title3d {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}