.card-wrapper {
  min-width: 300px;
}
.card {
  height: 450px;
}
.card-img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
}

.card-link:active {
  background-color: #121212;
}

.modal-body, .modal-title, .modal-btn{
  background-color: #ffffffed;
}
.modal-btn {
  box-shadow: 2px 2px 2px #198754;
}
.modal-btn:hover {
  background-color: #ffffffb3 !important;
}
