
.btn-success:hover {
    
    background-color: black;
    color: white;

}

.calendarContainer{

    height: fit-content;
    
}

button:active {

    transform: translate(1px, 1px) 

}

.reserveInstructionsWrapper {
    height: fit-content;
}

.datePickerContainer {
    height: 350px;
}