.menu-container {
  min-height: 100vh;
  border-right: 1px solid black;
}
.btn-close-custom {
  width: 40px;
  height: 40px;
}
.options-wrapper{
  height: fit-content;
  padding: 5px;
  margin: 10px;
  list-style: none;
}

.options-wrapper > li {
  margin: 10px 0px;
}

.options-wrapper > li > a {
  width: 100%;
}

.btn-success:hover {
  background-color: #146c4383 !important;
  transition: 1s;
}

.btn-arrow-active {
  transform: translateX(5px) scale(1.2);
  transition: 0.5s;
  text-shadow: 1px 1px 1px black;
  font-weight: bold !important;
}
.btn-arrow-inActive {
  transition: 0.5s;
}

.btn-closeSession-i {
  filter: drop-shadow(1px 2px 0px white)
}