
::placeholder{
  color: black !important;
}
.bi-asterisk{
  font-size: 10px !important;
}

.loginBtn:hover {
  transition: 0.5s !important;
  background-color: #146c4365 !important;
}

.login-container{
  min-height: 100vh;
   /* background-image: url('../../assets/sportIconBg(1).webp');
  background-position: center;
  background-size: cover; */
}

.login-form {

  background-color: #146c4365 !important;


}

@keyframes title3d {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}