.accordion-button:not(.collapsed) {
  color: #07bc0c;
  background-color: transparent;
}

.accordion-button:focus {

  border-color: #07bc0c;
  box-shadow: 0 0 0 0.25rem #07bc0d34;

}

.modal-background-patinajeArt{
  background-image: url('../../assets/modalsBackground/rollerSkate.com.png');
  background-size: 80px;
  background-position: 85%;
  background-repeat: no-repeat;
}
.modal-background-futbolInf {
  background-image: url('../../assets/modalsBackground/soccer.com.png');
  background-size: 80px;
  background-position: 85%;
  background-repeat: no-repeat;
}
.modal-background-artGymnastics {
  background-image: url('../../assets/modalsBackground/artGymnastics.com.png');
  background-size: 40px;
  background-position: 85%;
  background-repeat: no-repeat;
}
.modal-background-functional {
  background-image: url('../../assets/modalsBackground/functional.com.png');
  background-size: 40px;
  background-position: 85%;
  background-repeat: no-repeat;
}
.modal-background-freeDance {
  background-image: url('../../assets/modalsBackground/freeDance.com.png');
  background-size: 40px;
  background-position: 85%;
  background-repeat: no-repeat;
}
.modal-background-artWorkshop {
  background-image: url('../../assets/modalsBackground/artWorkshop.com.png');
  background-size: 40px;
  background-position: 85%;
  background-repeat: no-repeat;
}

